@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background-color: rgba(0, 0, 0, 0);
    
}
.border-1{
    border-right: 2px solid black;
    
}
.login{
    word-spacing: 18px;
}

